{% extends 'base.html' %} {% block style %} calcite-table { width: 75%;
padding-top: 20px;} {%endblock %} {% block content %}

<calcite-table caption="Simple table" layout="auto" page-size="10" scale="m">
  <calcite-table-row slot="table-header">
    <calcite-table-header
      heading="Heading"
      description="Description"
    ></calcite-table-header>
    <calcite-table-header
      heading="Heading"
      description="Description"
    ></calcite-table-header>
    <calcite-table-header
      heading="Heading"
      description="Description"
    ></calcite-table-header>
    <calcite-table-header
      heading="Heading"
      alignment="end"
    ></calcite-table-header>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
  <calcite-table-row>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell>cell content</calcite-table-cell>
    <calcite-table-cell alignment="end">cell content</calcite-table-cell>
  </calcite-table-row>
</calcite-table>

{% endblock %}
